ELASTIC_APM_SERVER_URL=http://apm-server:8200
ELASTIC_APM_SERVICE_NAME=apm-example

# DB
DB_TYPE=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=apm-example
DB_SCHEMA=public
DB_LOGGING=true
DB_SYNCHRONIZE=true

WEBHOOK_URL=https://webhook.site/06c76f5d-f063-4827-8bd2-8129f773273a